__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
build/
dist/
.DS_Store
__MACOSX/
._*
edrft_results/
rft_wave_results/
edrft_wave_results/
edrtn_wave_results/
rtn_wave_four_results/
wave/ABA/
*.pkl
*.pickle
